Contact from Cake site
========================================
Name:
=@name

Email:
=@email

Phone Number:
=@phone_number

Message:
==----------------------------------------
=@message
==----------------------------------------

Generated at
=Time.now.to_s