div#contact
  p
    padding: 0 0 15px

  div#intro
    float: left
    width: 50%

  div#top_contact_methods
    float: right
    padding-right: 140px

  div#bottom_contact_methods
    clear: both
    padding-top: 20px