// Page layout can be done using mixins applied to your semantic classes and IDs:
body
  // background: #d793bc
  //  background-image: url('../images/background.jpg')

  #container
    +container

  #content-wrapper
    +column($blueprint-grid-columns)

  #content
    @include curved
    //    background: #9C0063
    background: white
    //    background-image: url("../images/cake2_background.png")
    background-repeat: no-repeat
    background-position: 95% 25px
    min-height: 500px
    border: 2px solid black
    +font2

  .inner
    padding: 20px

  form
    +blueprint-form

  p
    padding: 10px

  h1
    font-size: 1.4em

  h2
    font-size: 1.2em
    margin: 0 0 25px 0

  h3
    font-size: 1.2em
    margin: 1px 0 3px 0

  h1, h2, h3
    font-weight: bold

  span.field_with_errors
    input, textarea
      border: 2px solid red

  a:active
    outline: none