!width = 800px
!border_radius = 15px

@mixin curved
  -moz-border-radius = !border_radius
  -webkit-border-radius = !border_radius
  -khtml-border-radius = !border_radius
  border-radius = !border_radius
  behavior: url('border-radius.htc')
  padding: 12px

#header
  min-height: 120px
  width = !width
  margin: auto

  ul
    list-style: none
    position: absolute
    top: 95px

    li
      background: url('../images/bullet_white.jpg') center right no-repeat
      padding: 0 75px
    li:last-child
      background: none

  ul, li
    display: inline

  a
    text-decoration: none

#content
  @include curved
  background: #9C0063
  min-height: 500px
  margin: auto
  width = !width

  .main
    padding: 20px 40px
    min-height: 260px
    &.terms
      h3
        margin-top: 12px
      ol
        list-style-type: decimal
    &.plans
      padding: 20px 0
    h3#heading
      margin-top: 12px
      &.restrictions
        margin-top: 45px

#footer
  width = !width
  margin: auto
  height: 100px

.picture
  float: left

