#content
  @include curved
  background: #9C0063
  min-height: 500px
  margin: auto
  width = !width
  overflow: hidden

  .main
    padding: 20px 40px
    min-height: 260px
    &.terms
      h3
        margin-top: 12px
      ol
        list-style-type: decimal
    &.plans
      padding: 20px 0
    h3#heading
      margin-top: 12px
      &.restrictions
        margin-top: 45px

.picture
  float: left

