div#contact
  h1
    text-align: center
    +pretty-font
    font-size: 3.0em
    padding-bottom: 10px
    margin: auto
    text-indent: -3000em
    background: url('../images/text/All.png') no-repeat -155px -72px
    width: 228px


  p
    padding: 0 0 15px

  div#intro
    float: left
    width: 50%

  div#top_contact_methods
    float: right
    padding-right: 140px

  div#bottom_contact_methods
    clear: both
    padding-top: 20px