table.flavors
  padding: 10px

  th
    font-size: 1.2em
    margin: 1px 0 3px 0
    font-weight: bold

table#cake_flavors
  float: left

table#icing_flavors
  float: right

div#cake_flavors
  left: 30%

div#filling_flavors
  right: 30%

div.flavors
  padding: 20px
  position: absolute