div#flavors
  min-height: 510px

  h1
    text-align: center
    +pretty-font
    font-size: 3.0em
    padding-bottom: 10px

  div.flavors
    float: left
    width: 275px
    height: 300px

  div#cake_flavors
    width: 150px
    padding-left: 113px

  div#icing_flavors
    padding-left: 85px

  div#filling_flavors
    width: 150px
    padding-left: 70px

  ul
    padding-top: 10px

  ul li
    padding-left: 16px

  ul li ul
    padding-top: 0px

  li.header
    font-weight: bold
    padding-bottom: 5px

    ul
      font-weight: normal
