div#gallery
  width: 920px
  overflow: hidden
  margin: 15px

  div#categories
    margin: auto
    width: 825px

  div.category
    float: left
    width: 275px
    height: 300px
    text-align: center


  h1
    text-align: center
    +pretty-font
    font-size: 3.0em
    padding-bottom: 10px

  h2
    margin: 0px
    a
      +pretty-font
      font-size: 1.5em
      font-weight: bold

  p
    text-transform: capitalize
    padding: 0px

  span#breadcrumb
    padding-left: 10px

  table#pictures
    border-spacing: 5px
    border-collapse: separate
    margin: auto

    caption
      text-align: center
      font-size: 1.7em
      padding: 5px 0

    td
      padding: 14px 14px 9px
      background-image: url('../images/cell_background.jpg')
