#gallery
  margin: auto

.thumbnails
  float: left
  padding: 20px

  a
    text-decoration: none
    border: 0

h2
  text-align: center
  a
    text-decoration: none
    font-size: 20px
    color: #808080
    font-weight: bold

table#pictures
  border-color: black
  border-collapse: separate

  td
    border: 1px black solid
    background-image: url('../images/cell_background.jpg')
    height: 125px
    width: 131px