div#header
  +column($blueprint-grid-columns)
  +sans-family
  height: 120px

  div#header-list
    margin-top: 95px

    ul
      text-align: center

    li
      display: inline
      background: url('../images/bullet_white.jpg') center right no-repeat

    li:last-child
      background: none

    a
      +link-colors($link-color, #4082AE)
      +hover-link
      padding: 0 53px