#header
  min-height: 120px
  width = !width
  margin: auto

  ul
    list-style: none
    position: absolute
    top: 95px

    li
      background: url('../images/bullet_white.jpg') center right no-repeat
      padding: 0 75px
    li:last-child
      background: none

  ul, li
    display: inline

  a
    text-decoration: none