#home
  background: url('../images/home_simple.png') no-repeat center center
  min-height: 600px

  #text
    text-indent: -9999px

    p
      +pretty-font
      font-size: 3em
      padding-top: 330px
      color: purple

