//table#pictures
//  border-collapse: separate

//  td
//    border: 1px black solid
//    background-image: url('../images/cell_background3.jpg')
//    padding: 15px


table#pictures
  border-spacing: 5px
  border-collapse: separate

table#pictures td
  padding: 14px 14px 9px
  background-image: url('../images/cell_background3.jpg')