div#pictures
  padding-top: 10px

  span#breadcrumb
    padding-left: 10px

  table#pictures
    border-spacing: 5px
    border-collapse: separate
    margin: auto

    caption
      text-align: center
      font-size: 1.7em
      padding: 5px 0

    td
      padding: 14px 14px 9px
      background-image: url('../images/cell_background.jpg')