/* line 4, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 3, ../../app/stylesheets/partials/_content.sass */
body {
  background: #f4f6fc;
}
/* line 6, ../../app/stylesheets/partials/_content.sass */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body #container {
  display: block;
}
/* line 9, ../../app/stylesheets/partials/_content.sass */
body #content-wrapper {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content-wrapper {
  overflow-x: hidden;
}
/* line 12, ../../app/stylesheets/partials/_content.sass */
body #content {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  behavior: url("border-radius.htc");
  background: #f4f6fc;
  background-repeat: no-repeat;
  background-position: 95% 25px;
  min-height: 500px;
  border: 2px solid black;
  font-family: tahoma, verdana, arial;
  font-size: 0.9em;
}
/* line 21, ../../app/stylesheets/partials/_content.sass */
body .inner {
  width: 920px;
  overflow: hidden;
  margin: 15px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 25, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text, body form input.title, body form input[type=text], body form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input[type=checkbox], body form input.checkbox, body form input[type=radio], body form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 32, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 33, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form select {
  margin: 0.5em 0;
}
/* line 57, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form fieldset {
  border: 1px solid #cccccc;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text, body form input.title, body form input[type=text], body form input[type=password],
body form textarea, body form select {
  border: 1px solid #bbbbbb;
}
/* line 62, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text:focus, body form input.title:focus, body form input[type=text]:focus, body form input[type=password]:focus,
body form textarea:focus, body form select:focus {
  border: 1px solid #666666;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text, body form input.title, body form input[type=text], body form input[type=password] {
  width: 300px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form textarea {
  width: 390px;
  height: 250px;
}
/* line 29, ../../app/stylesheets/partials/_content.sass */
body p {
  padding: 10px;
}
/* line 32, ../../app/stylesheets/partials/_content.sass */
body h1 {
  font-size: 1.4em;
}
/* line 35, ../../app/stylesheets/partials/_content.sass */
body h2 {
  font-size: 1.2em;
  margin: 0 0 25px 0;
}
/* line 39, ../../app/stylesheets/partials/_content.sass */
body h3 {
  font-size: 1.2em;
  margin: 1px 0 3px 0;
}
/* line 43, ../../app/stylesheets/partials/_content.sass */
body h1, body h2, body h3 {
  font-weight: bold;
}
/* line 47, ../../app/stylesheets/partials/_content.sass */
body span.field_with_errors input, body span.field_with_errors textarea {
  border: 2px solid red;
}
/* line 50, ../../app/stylesheets/partials/_content.sass */
body a:active {
  outline: none;
}

/* line 1, ../../app/stylesheets/partials/_home.sass */
#home {
  background: url("../images/home_simple.png") no-repeat center center;
  min-height: 600px;
}
/* line 5, ../../app/stylesheets/partials/_home.sass */
#home #text {
  text-indent: -9999px;
}
/* line 8, ../../app/stylesheets/partials/_home.sass */
#home #text p {
  font-family: "Snell Roundhand";
  font-size: 1.5em;
  font-weight: bold;
  font-size: 3em;
  padding-top: 330px;
  color: purple;
}

/* line 1, ../../app/stylesheets/partials/_header.sass */
div#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  font-family: "Snell Roundhand";
  font-size: 1.5em;
  font-weight: bold;
  height: 128px;
  background-image: url("../images/header.png");
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div#header {
  overflow-x: hidden;
}
/* line 7, ../../app/stylesheets/partials/_header.sass */
div#header h1 {
  padding-top: 15px;
}
/* line 10, ../../app/stylesheets/partials/_header.sass */
div#header h1 a {
  text-decoration: none;
  color: black;
  outline: none;
}
/* line 15, ../../app/stylesheets/partials/_header.sass */
div#header div#header-list {
  margin-top: 35px;
}
/* line 18, ../../app/stylesheets/partials/_header.sass */
div#header div#header-list ul {
  text-align: center;
}
/* line 21, ../../app/stylesheets/partials/_header.sass */
div#header div#header-list li {
  display: inline;
}
/* line 24, ../../app/stylesheets/partials/_header.sass */
div#header div#header-list li:last-child {
  background: none;
}
/* line 27, ../../app/stylesheets/partials/_header.sass */
div#header div#header-list a {
  color: black;
  text-decoration: none;
  padding: 0 53px;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
div#header div#header-list a:hover {
  color: purple;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
div#header div#header-list a:hover {
  text-decoration: underline;
}

/* line 1, ../../app/stylesheets/partials/_flash.sass */
div#flash {
  margin: 13px auto 10px;
  width: 83%;
  padding: 1em 1em 1em 2.4em;
  font-size: 1.4em;
  text-align: left;
  border: 2px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 11, ../../app/stylesheets/partials/_flash.sass */
div#flash h2 {
  font-size: 100%;
  padding-bottom: 1em;
  font-weight: bold;
}
/* line 16, ../../app/stylesheets/partials/_flash.sass */
div#flash.error {
  background: url(../images/icons/icon_error.png) 15px center no-repeat #f6cbca;
  color: #ce2027;
  border-color: #cb2026;
}
/* line 21, ../../app/stylesheets/partials/_flash.sass */
div#flash.warning {
  background: url(../images/icons/icon_warning.png) 15px center no-repeat #fcf9ce;
  color: #43433c;
  border-color: #dfdfde;
}
/* line 26, ../../app/stylesheets/partials/_flash.sass */
div#flash.notice {
  background: url(../images/icons/icon_notice.png) 15px center no-repeat #cee6c3;
  color: #168a43;
  border-color: #359545;
}
/* line 31, ../../app/stylesheets/partials/_flash.sass */
div#flash.notice li {
  list-style: disc;
}
/* line 34, ../../app/stylesheets/partials/_flash.sass */
div#flash.notice p {
  margin-bottom: 0.5em;
}
/* line 37, ../../app/stylesheets/partials/_flash.sass */
div#flash.notice ul {
  margin: 0 1.5em 0.5em;
}

/* line 3, ../../app/stylesheets/partials/_gallery.sass */
div#gallery div#categories {
  margin: auto;
  width: 825px;
}
/* line 7, ../../app/stylesheets/partials/_gallery.sass */
div#gallery div.category {
  float: left;
  width: 275px;
  height: 300px;
  text-align: center;
}
/* line 14, ../../app/stylesheets/partials/_gallery.sass */
div#gallery h1 {
  text-align: center;
  font-family: "Snell Roundhand";
  font-size: 1.5em;
  font-weight: bold;
  font-size: 3em;
  padding-bottom: 10px;
}
/* line 20, ../../app/stylesheets/partials/_gallery.sass */
div#gallery h2 {
  margin: 0px;
}
/* line 22, ../../app/stylesheets/partials/_gallery.sass */
div#gallery h2 a {
  font-family: "Snell Roundhand";
  font-size: 1.5em;
  font-weight: bold;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 27, ../../app/stylesheets/partials/_gallery.sass */
div#gallery p {
  text-transform: capitalize;
  padding: 0px;
}
/* line 31, ../../app/stylesheets/partials/_gallery.sass */
div#gallery span#breadcrumb {
  padding-left: 10px;
}
/* line 34, ../../app/stylesheets/partials/_gallery.sass */
div#gallery table#pictures {
  border-spacing: 5px;
  border-collapse: separate;
  margin: auto;
}
/* line 39, ../../app/stylesheets/partials/_gallery.sass */
div#gallery table#pictures td {
  padding: 0px;
}

/* line 2, ../../app/stylesheets/partials/_cakes.sass */
div#gallery div#cakes {
  margin: auto;
  width: 825px;
}
/* line 6, ../../app/stylesheets/partials/_cakes.sass */
div#gallery div.cake {
  float: left;
  width: 275px;
  height: 300px;
  text-align: center;
}

/* line 1, ../../app/stylesheets/partials/_flavors.sass */
div#flavors {
  min-height: 510px;
}
/* line 4, ../../app/stylesheets/partials/_flavors.sass */
div#flavors h1 {
  text-align: center;
  font-family: "Snell Roundhand";
  font-size: 1.5em;
  font-weight: bold;
  font-size: 3em;
  padding-bottom: 10px;
}
/* line 10, ../../app/stylesheets/partials/_flavors.sass */
div#flavors div.flavors {
  float: left;
  width: 275px;
  height: 300px;
}
/* line 15, ../../app/stylesheets/partials/_flavors.sass */
div#flavors div#cake_flavors {
  width: 150px;
  padding-left: 113px;
}
/* line 19, ../../app/stylesheets/partials/_flavors.sass */
div#flavors div#icing_flavors {
  padding-left: 85px;
}
/* line 22, ../../app/stylesheets/partials/_flavors.sass */
div#flavors div#filling_flavors {
  width: 150px;
  padding-left: 70px;
}
/* line 26, ../../app/stylesheets/partials/_flavors.sass */
div#flavors ul {
  padding-top: 10px;
}
/* line 29, ../../app/stylesheets/partials/_flavors.sass */
div#flavors ul li {
  padding-left: 16px;
}
/* line 32, ../../app/stylesheets/partials/_flavors.sass */
div#flavors ul li ul {
  padding-top: 0px;
}
/* line 35, ../../app/stylesheets/partials/_flavors.sass */
div#flavors li.header {
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 39, ../../app/stylesheets/partials/_flavors.sass */
div#flavors li.header ul {
  font-weight: normal;
}

/* line 1, ../../app/stylesheets/partials/_footer.sass */
div#footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  height: 100px;
  position: relative;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div#footer {
  overflow-x: hidden;
}
/* line 6, ../../app/stylesheets/partials/_footer.sass */
div#footer #copy {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 2, ../../app/stylesheets/partials/_contact.sass */
div#contact h1 {
  text-align: center;
  font-family: "Snell Roundhand";
  font-size: 1.5em;
  font-weight: bold;
  font-size: 3em;
  padding-bottom: 10px;
}
/* line 8, ../../app/stylesheets/partials/_contact.sass */
div#contact p {
  padding: 0 0 15px;
}
/* line 11, ../../app/stylesheets/partials/_contact.sass */
div#contact div#intro {
  float: left;
  width: 50%;
}
/* line 15, ../../app/stylesheets/partials/_contact.sass */
div#contact div#top_contact_methods {
  float: right;
  padding-right: 140px;
}
/* line 19, ../../app/stylesheets/partials/_contact.sass */
div#contact div#bottom_contact_methods {
  clear: both;
  padding-top: 20px;
}

/* line 2, ../../app/stylesheets/partials/_about.sass */
div#about p {
  padding: 0 0 15px;
}
