.cake
  = link_to image_tag(cake.display_picture.photo.url(:medium)), cake_path(cake)
  %h2
    = link_to cake.name.titleize, cake_path(cake)
  %p
    == (#{pluralize(cake.cake_pictures.count, "picture")})
