body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0; }

body {
  background: #d693bd; }

p {
  padding: 10px; }

#content {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  behavior: url("border-radius.htc");
  padding: 12px;
  background: #9c0063;
  min-height: 500px;
  margin: auto;
  width: 800px;
  overflow: hidden; }
  #content .main {
    padding: 20px 40px;
    min-height: 260px; }
    #content .main.terms h3 {
      margin-top: 12px; }
    #content .main.terms ol {
      list-style-type: decimal; }
    #content .main.plans {
      padding: 20px 0; }
    #content .main h3#heading {
      margin-top: 12px; }
      #content .main h3#heading.restrictions {
        margin-top: 45px; }

.picture {
  float: left; }

#gallery {
  margin: auto; }

.thumbnails {
  float: left;
  padding: 20px; }
  .thumbnails a {
    text-decoration: none;
    border: 0; }

h2 {
  text-align: center; }
  h2 a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
    font-weight: bold; }

table {
  width: 100%; }
  table tr {
    padding: 10px; }
    table tr td {
      padding: 10px; }

#header {
  min-height: 120px;
  width: 800px;
  margin: auto; }
  #header ul {
    list-style: none;
    position: absolute;
    top: 95px; }
    #header ul li {
      background: url("../images/bullet_white.jpg") center right no-repeat;
      padding: 0 75px; }
    #header ul li:last-child {
      background: none; }
  #header ul, #header li {
    display: inline; }
  #header a {
    text-decoration: none; }

#footer {
  width: 800px;
  margin: auto;
  height: 100px;
  clear: left; }
