@import partials/reset.sass

//========================================
//  Main Content
//========================================

!width = 800px
!border_radius = 15px

@mixin curved
  -moz-border-radius = !border_radius
  -webkit-border-radius = !border_radius
  -khtml-border-radius = !border_radius
  border-radius = !border_radius
  behavior: url('border-radius.htc')
  padding: 12px


body
  background: #D693BD

p
  padding: 10px


//========================================
//  Header
//========================================

@import partials/header.sass


//========================================
//  Flash
//========================================

@import partials/flash.sass

//========================================
//  Content
//========================================

@import partials/content.sass

//========================================
//  Pictures
//========================================

@import partials/pictures.sass

//========================================
//  Gallery
//========================================

@import partials/gallery.sass

//========================================
//  Footer
//========================================

@import partials/footer.sass
