#flavors.inner
  %h1
    Flavors

  .flavors#cake_flavors
    %h3
      Cake Flavors

    %ul
      %li Yellow
      %li Chocolate
      %li Marble
      %li Carrot
      %li Red Velvet

  .flavors#icing_flavors
    %h3
      Icing / Frosting Flavors

    %ul
      %li.header
        Buttercream
        %ul
          %li Vanilla
          %li Chocolate
          %li Mocha
          %li Oreo
          %li Lemon
          %li Maple
          %li Orange
          %li Peanut Butter

      %li.header
        Fondant
        %ul
          %li
            All sorts of flavors! Please
            = link_to "contact us", contact_path
            to find out if we have your favorite one.

  .flavors#filling_flavors
    %h3
      Filling Flavors

    %ul
      %li.header
        Buttercream Icing
        %ul
          %li Vanilla
          %li Chocolate
          %li Mocha
          %li Oreo
          %li Lemon
          %li Maple
          %li Orange
          %li Peanut Butter

      %li.header
        Fruit (Pastry)
        %ul
          %li Guava
          %li Pineapple
          %li Cream cheese
          %li Raspberry
          %li Strawberry
          %li Coconut
          %li Apple turnover
          %li Banana cream
          %li Blueberry
          %li Cherry
          %li Lemon
