%h2
  Flavors

%table.flavors#cake_flavors
  %tr
    %th
      Cake
  %tr
    %td
      This is
  %tr
    %td
      where the
  %tr
    %td
      cake flavors will go.

%table.flavors#filling_flavors
  %tr
    %th
      Filling
  %tr
    %td
      This is
  %tr
    %td
      where the
  %tr
    %td
      filling flavors will go.

.flavors#filling_flavors
  %h3
    Filling Flavors

  %ul
    %li This is
    %li where the
    %li filling flavors will go.
          
.flavors#cake_flavors
  %h3
    Cake Flavors

  %ul
    %li This is
    %li where the
    %li cake flavors will go.


