.category
  = link_to image_tag(category.display_picture.photo.url(:medium)), category_path(category)
  %h2
    = link_to category.name, category_path(category)
  %p
    == (#{pluralize(category.cakes.count, "cake")})
