/ = image_tag 'profile_pic.jpg'
#blurb
  %p
    Joy is a stay at home Mom in Manassas, VA who discovered her love for baking and decorating cakes while making one for her son's first birthday.
  %p
    Since then she has delighted her son and husband by baking cake after cake in order to perfect both the cake's taste and her artistic abilities.
  %p
    She believes that a cake should not only look good but taste good too.  There's no point in having a party if you can't eat the dessert!