#flavors.inner
  %h2
    Flavors

  .flavors#cake_flavors
    %h3
      Cake Flavors

    %ul
      %li This is
      %li where the
      %li cake flavors will go.

  .flavors#filling_flavors
    %h3
      Filling Flavors

    %ul
      %li This is
      %li where the
      %li filling flavors will go.

