- unless @birthday.blank?
  .thumbnails#birthdays
    %h2 Birthdays
    = link_to image_tag(@birthday), :action => 'birthdays'
- unless @wedding.blank?
  .thumbnails#weddings
    %h2 Weddings
    = link_to image_tag(@wedding), :action => 'weddings'
- unless @other.blank?
  .thumbnails#other
    %h2 Other Special Occasions
    = link_to image_tag(@other), :action => 'others'