#index.inner
  #pictures
    #upper_left.image
      = image_tag "../images/content_upper_left_small.jpg"
    #upper_right.image
      = image_tag "../images/content_upper_right_small.jpg"

  #text
    %p
      Welcome to The Sweetest Joy

  #bottom_middle.image
    = image_tag "../images/content_bottom_middle_small.jpg"